@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-staff-members {
  font-family: var(--ylb-font-family-cachet);
  font-weight: 400;
  .section-description {
    margin-bottom: 40px;
    @include media-breakpoint-up('lg'){
      margin-bottom: 60px;
    }
    h2 {
      font-size: 35px;
      line-height: 40px;
      color: var(--ylb-color-dark-grey-1, darkgray);
      @include media-breakpoint-up('lg'){
        font-size: 50px;
        line-height: 60px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      font-family: var(--ylb-font-family-verdana);
      line-height: 28px;
      color: var(--ylb-color-dark-grey-1, darkgray);
    }
  }
  .staff-member-item {
    margin-bottom: 60px;
    @include media-breakpoint-up('lg') {
      margin-bottom: 90px;
    }
    .wrapper {
      padding: 20px;
      position: relative;
      background: #F2F2F2;
      box-shadow: var(--wsBoxShadow, none);
      border: var(--wsBorderStyle , none);
      border-radius: var(--wsBorderRadius, unset);
      height: 100%;
    }
    .staff-member-item-background {
      background: var(--wsTertiaryColor, gray);
      height: 103px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: var(--wsBorderRadius, 0) var(--wsBorderRadius, 0) 0 0;
    }
    .member-image {
      position: relative;
      width: 165px;
      margin: 0 auto 20px;
      img {
        width: 165px;
      }
    }
    h3 {
      color: #231F20;
      font-size: 30px;
        line-height: 32px;
    }
    .title {
      font-size: 18px;
      line-height: 28px;
      color: var(--ylb-color-dark-grey-1, darkgray);
      font-family: var(--ylb-font-family-verdana);
    }
    .email-divider {
      height: 5px;
      width: 21px;
      display: inline-block;
      border-radius: 4px;
      background-color: var(--wsSecondaryColor, blue);
      margin: 15px 0;
    }
    .email {
      font-family: var(--ylb-font-family-verdana);
      font-size: 18px;
      line-height: 22px;
      overflow: hidden;

      a {
        color: var(--wsPartnerColor, blue);
        word-wrap: break-word;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // WS Style component-level adjustments.
  // - Border style.
  &.ws-border-style--solid {
    .staff-member-item {
      .wrapper {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-solid, none);
      }
    }
  }

  &.ws-border-style--drop-shadow {
    .staff-member-item {
      .wrapper {
        box-shadow: var(--ylb-border-style-drop-shadow, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }

  &.ws-border-style--none {
    .staff-member-item {
      .wrapper {
        box-shadow: var(--ylb-border-style-none, none);
        border: var(--ylb-border-style-none, none);
      }
    }
  }
}
